<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
   	  <class name="org.testing.testScripts.TC1_PostRequest"/>
   	  <class name="org.testing.testScripts.TC2_GetAllRequest"/>
      <class name="org.testing.testScripts.TC3_GetParticular"/>
      <class name="org.testing.testScripts.TC4_UpdateRequest"/>
      <class name="org.testing.testScripts.TC5_DeleteMethod"/>
      
      <class name="org.testing.testScripts.TC6_PostRequest"/>
   	  <class name="org.testing.testScripts.TC7_GetAllRequest"/>     
      <class name="org.testing.testScripts.TC8_GetParticular"/>
       <class name="org.testing.testScripts.TC9_UpdateRequest"/>
      <class name="org.testing.testScripts.TC10_DeleteMethod"/> 
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
